apiVersion: v2
type: application
name: logging-operator-logging
version: 4.0.0-rc17
appVersion: 4.0.0-rc17
kubeVersion: ">=1.16.0-0"
description: A Helm chart to configure logging resource for the Logging operator.
keywords:
  - logging
  - fluentd
  - fluentbit
home: https://kube-logging.github.io
sources:
  - https://github.com/kube-logging/logging-operator
  - https://github.com/kube-logging/helm-charts/tree/main/charts/logging-operator-logging
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Moved to to location
  artifacthub.io/images: |
    - name: fluent-bit
      image: fluent/fluent-bit:1.9.5
    - name: fluentd
      image: ghcr.io/banzaicloud/fluentd:v1.14.6-alpine-5
    - name: logging-operator
      image: ghcr.io/kube-logging/logging-operator:4.0.0-rc19
    - name: config-reloader
      image: ghcr.io/banzaicloud/config-reloader:0.0.1
