apiVersion: v2
type: application
name: logging-demo
version: 4.0.1-dev.1
appVersion: 4.0.0
kubeVersion: ">=1.16.0-0"
description: Logging operator demo application
keywords:
  - logging
  - fluentd
  - fluentbit
  - syslog-ng
home: https://kube-logging.github.io
sources:
  - https://github.com/kube-logging/logging-operator
  - https://github.com/kube-logging/helm-charts/tree/main/charts/logging-demo
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Moved to to location

dependencies:
  - name: minio
    version: 8.x.x
    repository: https://helm.min.io/
    condition: minio.enabled
  - name: log-generator
    version: 0.1.x
    repository: https://kubernetes-charts.banzaicloud.com/
    condition: logGenerator.enabled
